# {{ display_name }}

- **Namespace**: `{{ namespace }}`
- **Include**: `#include "{{ include_path }}"`

## Overview

{{ overview }}

## API
{% if structs %}

### Public Structs
{% for s in structs %}
#### {{ s.heading }}

```cpp
{{ s.signature }}
```
{{ s.description }}
{% if s.fields %}
{% for f in s.fields %}
- `{{ f.name }}` (`{{ f.type }}`): {{ f.description }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if functions %}

### Public Functions
{% for m in functions %}
#### {{ m.heading }}

```cpp
{{ m.signature }}
```
{{ m.description }}
{% if m.params %}

##### Parameters
{% for p in m.params %}
- `{{ p.name }}`: {{ p.description }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
