# {{ display_name }} Namespace

## Overview

{{ overview }}

## Namespace Contents

{% if interfaces %}
### Interfaces

{% for page in interfaces %}
- [{{ page.name }}]({{ page.link }})
{% endfor %}
{% endif %}

{% if implementations %}
### Implementations

{% for page in implementations %}
- [{{ page.name }}]({{ page.link }})
{% endfor %}
{% endif %}

{% if graph_md %}
## Inheritance Hierarchy

{{ graph_md }}
{% endif %}